src/main/mule/sample-cicd-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0ff66a40-cc26-4b0b-8ada-1803c27c3f17" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample-cicd-apiFlow" doc:id="b0d5b53e-0afe-4480-8b39-3e6288aff6ff" >
		<http:listener doc:name="Listener" doc:id="8c7b887b-395e-478c-a10c-9ffed81097e1" config-ref="HTTP_Listener_config" path="/sample"/>
		<ee:transform doc:name="Transform Message" doc:id="333f9bc2-fe42-4ac7-969e-294cbba5b680" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message" : "hello! Welcome to api."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="63ef6c84-2b92-4534-b15b-61c89eea49d0" message="#[payload]"/>
	</flow>
</mule>
